body {
  margin-left: 3em;
  font-family: 'Lato Medium', Arial, sans-serif;
  /*
  color: #D0CFCC;                               <-- text color   
  background-color: #171421;                    background color 
   */
}

h1, h2, h3, h4, h5 {

  font-family: 'Karla Semibold', 'Open Sans', Arial, sans-serif;
}
